<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/products">Productos</a>
        <a href="/realtimeproducts">En tiempo real</a>
    </nav>
    <hr>
    {{{body}}}
</body>

</html>